*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(221, 12%, 20%);
}


#menu-items {
    height: 100vh;
    width: 11rem;
    margin-left: 7rem;
    display: grid;
    align-content: center;
}

.menu-item {
    width: 100%;
    display: block;
    padding-bottom: 1rem;
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    transition: all 700ms ease;
    z-index: 1;
}

#menu-items:hover .menu-item {
    opacity: .5;
}

#menu-items:hover .menu-item:hover {
    opacity: 1;
}

#menu-pattern {
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/square.png);
    background-size: 26rem;
    background-repeat: repeat-y;
    background-position: 0 50%;

    position: absolute;
    top: 0;
    left: -5rem;
    opacity: .5;
    z-index: 0;
    transition: all 700ms ease;
}

/* Position of #menu-background-pattern according to #menu[data-index] data attribute.*/
#menu[data-index='0'] > #menu-pattern{
    background-position-y: 50%;
}
#menu[data-index='1'] > #menu-pattern{
    background-position-y: calc(100vh - 50%);
}
#menu[data-index='2'] > #menu-pattern{
    background-position-y: calc(calc(100vh - 50%) + calc(100vh - 100%));
}
#menu[data-index='3'] > #menu-pattern{
    background-position-y: calc(calc(100vh - 50%) + calc(200vh - 200%));
}
#menu[data-index='4'] > #menu-pattern{
    background-position-y: calc(calc(100vh - 50%) + calc(300vh - 300%));
}

#menu-items:hover ~ #menu-pattern{
    opacity: .2;
    background-size: 24rem;
}